name: Checks

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - main
    paths-ignore:
      - '**.md'
      - 'media/'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false

    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Pre-commit on all files
        run: uv run pre-commit run --all-files
